In [1]:
import mysql.connector as sql

In [2]:
krishna=sql.connect(host="localhost",user="root",password="root",port=3306)

In [3]:
car=krishna.cursor()

In [4]:
car.execute("show databases")

In [5]:
for i in car:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('wd12',)
('wd2',)
('wd5',)
('wd7',)
('we10',)
('we2',)
('we4',)
('world',)

In [7]:
car.execute("use wd7")

In [8]:
car.execute("show tables")

In [9]:
for i in car:
    print(i)

('college',)
('college2',)
('family',)
('government',)
('hostel',)
('hostel2',)
('library',)
('restra',)
('shubidha',)

In [13]:
car.execute("select * from college")

In [14]:
for i in car:
    print(i)

(1, 'krishna', 'MCA')
(2, 'Mohan', 'BCA')
(3, 'Sohan', 'BBA')

In [17]:
car.execute("select * from college2")

In [18]:
for i in car:
    print(i)

(1, 'dhava', 'Science')
(2, 'Mukesh', 'Maths')
(3, 'Krishna', 'Art')
(10, 'Santosh', 'Art')

In [19]:
car.execute("desc college2")

In [20]:
for i in car:
    print(i)

('enrollment', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(50)', 'NO', '', None, '')
('branch', b'char(30)', 'NO', '', None, '')

In [21]:
car.execute("show tables")

In [22]:
for i in car:
    print(i)

('college',)
('college2',)
('family',)
('government',)
('hostel',)
('hostel2',)
('library',)
('restra',)
('shubidha',)

In [23]:
car.execute("create table introduction(sn int primary key auto_increment,name varchar(50))")

In [24]:
car.execute("show tables")

In [25]:
for i in car:
    print(i)

('college',)
('college2',)
('family',)
('government',)
('hostel',)
('hostel2',)
('introduction',)
('library',)
('restra',)
('shubidha',)

In [31]:
for i in range(6):
    user=input("Enter your name:")
    car.execute("insert into introduction(name) values('{}')".format(user))
krishna.commit()

Enter your name: krishna
Enter your name: sanju
Enter your name: dhava
Enter your name: mukesh
Enter your name: rajani
Enter your name: Luxman

In [27]:
print("this is 'krishna'")

this is 'krishna'

In [28]:
print('this is "krishna"')

this is "krishna"

In [29]:
print("this is \"krishna\"")

this is "krishna"

In [32]:
car.execute("select * from introduction")

In [33]:
for i in car:
    print(i)

(1, 'Krishna Kumar')
(2, 'sanju')
(3, 'dhava')
(4, 'mukesh')
(5, 'rajni')
(6, 'luxman')
(7, 'krishna')
(8, 'sanju')
(9, 'dhava')
(10, 'mukesh')
(11, 'rajani')
(12, 'Luxman')