In [ ]:
# Variable
# Rule1: Variable name never start with number
# Rule2: variable name never contain special character expect underscore(_)
#special character of english keyboard: !"#$%&\'()*+,-./:;<=>?@[\\]^`{|}~
# Rule3: Variable must be readable

In [2]:
branda_rodrigus=10
ram_gopal_verma=10

krishna_age=27
krishna_weight=72
krishna_height=5.7

In [3]:
1krishna=10

SyntaxError: invalid decimal literal (2223745171.py, line 1)

In [4]:
krishna1=10

In [5]:
print(krishna1)

10

In [6]:
krishna1kumar=20

In [7]:
print(krishna1kumar)

20

In [10]:
krishnakumar=10

In [11]:
#camel case used by java 
krishnaKumarPrajapati=10
brandaRodrigus=10

In [12]:
# pascal case
KrishnaKumarPrajapati=10
BrandaRodrigus=10

In [13]:
# snake case
branda_rodrigus=10
ram_gopal_verma=10

krishna_age=27
krishna_weight=72
krishna_height=5.7

In [14]:
print(krishna_age)

27

In [15]:
print("krishna_age")

krishna_age

In [24]:
print("hello world")
print('Hello world')

hello world
Hello world

In [26]:
print("""hello 


                world""")
print('''hello

    
     
       world''')

hello


                world
hello



       world